<header class="header">
  <div class="header-container">
    <a routerLink="/" class="header-logo">
      FacadeHouse
    </a>
    <nav class="header-nav" [class.open]="isMenuOpen">
      <button routerLink="" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Главная</button>
      <button routerLink="/about"  routerLinkActive="active"  (click)="closeMenu()">О компании</button>
      <button routerLink="contact"  routerLinkActive="active"  (click)="closeMenu()">Контакты</button>
      <button routerLink="services"  routerLinkActive="active"  (click)="closeMenu()">Услуги</button>
      <button routerLink="projects"  routerLinkActive="active"  (click)="closeMenu()">Проекты</button>
      <button routerLink="news"  routerLinkActive="active"  (click)="closeMenu()">Новости</button>
   </nav>

   <div class="header-actions">
      <a class="header-phone" href="tel:+79999999999">
        +7 (999) 999-99-99
      </a>

      <a class="header-action" routerLink="/contact">Рассчитать стоимость</a>
   </div>

   <button class="header-burger"
    type="button" aria-label="Открыть меню"
     (click)="toggleMenu()"
      [class.active]="isMenuOpen"
       [attr.aria-expanded]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
  </div>
</header>





