<main class="home">
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <p class="hero-lable">Фасадные решения под ключ</p>

        <h1 class="hero-title">
          Облицовка фасадов алюминиевыми композитными панелями
        </h1>

        <p class="hero-discription">
          Проектирование, изготовление и монтаж современных фасадных систем для
          коммерческих и частных объектов.
        </p>

        <div class="hero-actions">
          <a
            href=""
            routerLink="/contacts"
            class="hero-button hero-button-primary"
          >
            Рассчитать стоимость
          </a>

          <a
            href=""
            routerLink="/projects"
            class="hero-button hero-button-secondary"
          >
            Посмотреть проекты
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="projects">
        <div class="container">
            <div class="projects-header">
                <div class="projects-heading">
                <p class="projects-lable">Наши работы</p>

                <h2 class="projects-title">Реализованные проекты</h2>

                <a routerLink="/projects" class="projects-link">
                    Все проекты
                </a>
                </div>
            </div>

            <div class="project-grid">
                    <article class="project-card">
                        <div class="project-card-image">
                            <img
                            class="project-card-photo"
                            src="/images/hero-facade.jpg..png"
                            alt="Реализованный фасадный проект"
                            />
                        </div>

                        <div class="project-card-content">
                            <h3 class="project-card-title">
                                Облицовка фасада частного дома
                            </h3>

                            <div class="project-card-meta">
                                <span class="project-card-category">Частный дом</span>
                                <span class="project-card-year">2026</span>
                            </div>

                            <p class="project-card-description">
                                Современная облицовка фасада алюминиевыми композитными панелями с
                                аккуратной геометрией и долговечным покрытием.
                            </p>
                        </div>
                    </article>
            </div>
        </div>
  </section>
</main>
