<footer class="footer">
  <div class="footer-container">
    <div class="footer-main">

      <div class="footer-brand">
        <a routerLink="/" class="footer-logo" aria-label="FacadeHouse — главная">
          <img class="footer-logo-image" src="/images/Logo.png" alt="Логотип FacadeHouse">
          <span>FacadeHouse</span>
        </a>
        <p class="footer-description">
          Облицовка фасадов алюминиевыми композитными панелями для коммерческих и частных объектов.</p>
      </div>

      <nav class="footer-nav" aria-label="Навигация в подвале сайта">
        <h3 class="footer-title">Навигация</h3>
        <a routerLink="/">Главная</a>
        <a routerLink="/about">О компании</a>
        <a routerLink="/contacts">Контакты</a>
        <a routerLink="/services">Услуги</a>
        <a routerLink="/projects">Проекты</a>
        <a routerLink="/news">Новости</a>
      </nav>

      <div class="footer-contacts">
        <h3 class="footer-title">Контакты</h3>
        <a [href]="'tel:'+ (contacts$ | async)?.phone" class="footer-contact">{{ (contacts$ | async)?.phone }}</a>
        <a [href]="'mailto:'+ (contacts$ | async)?.email" class="footer-contact">{{ (contacts$ | async)?.email }}</a>
        <address class="footer-address">г. Москва</address>
      </div>
    </div>

    <div class="footer-bottom">
      <small>© 2026 FacadeHouse. Все права защищены.</small>
    </div>

  </div>
</footer>
