<article class="project-modal">

  <button
    type="button"
    class="project-modal__close"
    mat-dialog-close
    aria-label="Закрыть"
  >
    <img src="icons/close.svg" alt="Иконка закрытия">
  </button>

  <app-project-card
    [project]="project"
    [showFullDescription]="true"
  ></app-project-card>

  @if (reviews().length > 0) {
    @for (review of reviews(); track review.id) {
      <app-review-card
        [review]="review"
      ></app-review-card>
    }
  } @else {
    <p class="project-modal__status">
      Для этого проекта отзыв пока не добавлен.
    </p>
  }

</article>